html, body {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(to bottom, #3C4487, #3C4487, #8935CA, #DC3B6F);
}

div.container {
    width: 50%;
    height: 50%;
}

h1 {
    color: white
}

.add-btn{
    background: linear-gradient(to right, #8935CA, #DC3B6F);
    color: white;
    box-shadow: rgba(245, 243, 243, 0.505) 1.95px 1.95px 2.6px;
}

.form-group {
    color: white;
} 

.modal-bg {
    background: linear-gradient(#3C4487, #8935CA);
    color: white;
}

img {
    height: auto;
    width: 30rem;
    border-radius: 20px;
    box-shadow: rgb(185, 194, 203) 0px 20px 30px -10px;
}

th {
    color: #FEFC21;
}

td {
    color: white;
}